@model instagram.Services.ViewModels.Users.UserSortResultViewModel

@{
    ViewBag.Title = "Подписки";
    Layout = "_LayoutForAuthorizeUser";
}
<div class="container mt-5">
    @if(Model.Users.Any())
    {
        <div class="row justify-content-center">
            @foreach (var user in Model.Users)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="d-flex align-items-center justify-content-start p-3">
                            <a asp-action="Profile" asp-controller="Account" asp-route-userName="@user.UserName">
                                <div class="rounded-circle profile-pic">
                                    <img src="@user.Avatar" alt="@user.UserName">
                                </div>
                            </a>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="card-title mb-1">@user.UserName</h5>
                            </div>
                            <div>
                                @if (User.Identity.Name != user.UserName)
                                {
                                    string? totalUserId = ViewData.TryGetValue("totalUser", out var value) ? value as string : null;
                                    @if (user.Followers.Any(x => x.FollowerId == totalUserId))
                                    {
                                        <button class="btn btn-info followButton btn-@user.UserName" accountName="@user.UserName">Отписаться</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-info followButton btn-@user.UserName" accountName="@user.UserName">Подписаться</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2 class="text-center">Пользователи не найдены</h2>
    }
</div>